highlight-background   = #002b36
highlight-current-line = #393939
highlight-line-numbers = #666
highlight-selection    = #515151
highlight-foreground   = #839496
highlight-comment      = #586e75
highlight-red          = #dc322f
highlight-orange       = #cb4b16
highlight-yellow       = #b58900
highlight-green        = #859900
highlight-aqua         = #2aa198
highlight-blue         = #268bd2
highlight-purple       = #6c71c4

pre
  .comment
    color highlight-comment
  .title
    color highlight-blue
  .params
    color highlight-foreground
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color highlight-red
  .preprocessor
  .preprocessor .keyword
  .literal
  .constant
    color highlight-orange
  .class
  .ruby .class .title
  .css .rules .attribute
    color highlight-green
  .keyword
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color highlight-green
  .string
  .number
  .css .hexcolor
    color highlight-aqua
  .function
  .built_in
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color highlight-blue
  .javascript .function
    color highlight-purple
