$theme_config = hexo-config("highlight_theme")

if $theme_config == "tomorrow"
  @require "tomorrow"

if $theme_config == "tomorrow-night"
  @require "tomorrow-night"

if $theme_config == "solarized-dark"
  @require "solarized-dark"

if $theme_config == "solarized-light"
  @require "solarized-light"
