<% if(theme.google_cse.enable) { %>
<div  id="main" class="page">
  <div id='cse' style='width:100%;text-align:center'>正在加载搜索结果，请稍等。</div>
</div>
<script src="http://www.google.com.hk/jsapi" type="text/javascript"></script>
<script type="text/javascript">
google.load('search', '1', {language : 'zh-CN',style: google.loader.themes.MINIMALIST});
google.setOnLoadCallback(function(){
  var customSearchControl = new google.search.CustomSearchControl('<%= theme.google_cse.cx %>');
  customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
  var options = new google.search.DrawOptions();
  options.setAutoComplete(true);
  customSearchControl.draw('cse', options);
  var match = location.search.match(/q=([^&]*)(&|$)/);
  if(match && match[1]){
    var search = decodeURIComponent(match[1]); 
    customSearchControl.execute(search);
  }
},true);
</script>
<% } else if (theme.swiftype_search.enable) { %>
<div  id="main" class="page">
  <div id="st-results-container" style="width:80%">搜尋中...</div>
</div>
<style>
.st-query-present {
  padding:0.1em 0em;
}
.st-ui-result {
  background: #fafafa;
  display: block;
  border-left: 0.5em solid #ccc;
  -webkit-transition: border-left 0.45s;
  -moz-transition: border-left 0.45s;
  -o-transition: border-left 0.45s;
  -ms-transition: border-left 0.45s;
  transition: border-left 0.45s;
  padding: 1em;
}
.st-ui-result:hover {
  border-left: 0.5em solid #2ca6cb;
}
.st-ui-type-heading {
  font-size: 1em;
  line-height: 2;
}
</style>
<% } %>
